Container {
  display: flex;
  flex-direction: column;
  padding: 70px 56px;
  margin: auto;
  max-width: 1000px;
  @media (max-width: 1000px) {
    padding: 70px 30px;
  }
}

Row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 15px;
}

Column {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-weight: 400;
}